.legendWrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: 20vw;
  min-width: 300px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;

  &.hidden {
    transform: translateX(100%); // Move off-screen to the right
  }
}

.legend {
  width: 100%;
  height: 100%;
  overflow-y: auto; // Allows vertical scrolling
  padding: 10px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.day {
  margin-bottom: 15px;
  padding: 15px;
}

.dayTitle {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 5px;
}

.stopButton {
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: #e9e9e9;
    border-color: #d0d0d0;
  }
}

.toggleButton {
  position: absolute;
  left: -40px;
  top: 10%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;

  &:hover {
    background-color: #0056b3;
  }
}
