.legendWrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: 25vw;
  min-width: 300px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  &.hidden {
    transform: translateX(100%); // Move off-screen to the right
  }
  .legend {
    width: 100%;
    height: 100%;
    overflow-y: auto; // Allows vertical scrolling
    padding: 10px;
    .title {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    .day {
      margin-bottom: 15px;
      .dayTitle {
        font-size: 1em;
        text-decoration: underline;
        font-weight: lighter;
        margin-bottom: 5px;
        text-transform: capitalize;
      }
      .stops {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
        .stop {
          display: flex;
          width: 100%;
          height: 45px;
          padding: 8px;
          cursor: pointer;
      
          p {
            margin: 0;
          }
      
          .hours {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 10px; // Space between hours and separator
            font-size: 12px;
            width: 30px;
          }
      
          .separator {
            width: 5px;
            height: 100%;
            background-color: rgb(140, 218, 236); // Set the color of the separator
            margin-right: 10px; // Space between separator and info
            border-radius: 8px;
          }
      
          .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p,a {
              font-size: 12px;
            }
            .links {
              .directionsLink {
                color: #007BFF;
                text-decoration: none;
                display: flex;
                align-items: center;
                width: fit-content;
              
                svg {
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
  .toggleButton {
    position: absolute;
    left: -40px;
    top: 10%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
  }
}




